%h3
  = t('approvals.user_management')

= link_to t('approvals.all_users'), {action: 'index'}, class: 'waves-effect waves-light btn'
= link_to t('approvals.pending_approvals'), {action: 'index', approved: 'false'}, class: 'waves-effect waves-light btn'
-if @users.try(:empty?) || @users.nil?
  %h5
    = t('approvals.no_pending')
-else
  %table
    - @users.each do |user|
      %tr{id: "row-#{user.id}"}
        %td= user.email
        -if user.facility
          %td= user.facility.name
        -elsif !user.approved
          %td
            = form_with url: facility_user_path do |f|
              = f.hidden_field :user, value: user.id
              .col.s6.input-field
                = f.select :facility_id, options_for_select(facilities_select_options)
                = f.label :facility_id, 'Facility'
              .col.s6
                = f.submit 'Add', data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn'
        -else
          %td= ''
        %td
          %strong
            = user.approved ? t('approvals.approved') : t('approvals.pending_approval')
        - if user.approved
          %td= ''
        - else
          %td= link_to t('approvals.accept'), approvals_users_path(locale: locale, id: user.id), method: :post, class: "waves-effect waves-light btn #{user.facility ? '' : 'disabled'}"
