- @resources.each_slice(3) do |collection|
  .row
    - collection.each do |resource|
      .medium-4.columns
        .card{id: "card-#{resource.id}"}
          .content
            %ul.accordion{data: {accordion: '', allow: {all:{closed: 'true'}}}, role: 'tablist'}
              %li.accordion-item
                / The tab title needs role="tab", an href, a unique ID, and aria-controls.
                %a.accordion-title{id: "panel#{resource.id}-heading",
                aria: {controls: "panel#{resource.id}"},
                href: "#panel#{resource.id}",
                role: 'tab'}= resource.designation
                / The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby.
                .accordion-content{id: "panel#{resource.id}",
                aria: {labelledby: "panel#{resource.id}-heading"},
                data: {tab: {content: ''}},
                role: 'tabpanel'}
                  %strong Details:
                  = resource.description
                  %br/
                  %strong Capacity:
                  = resource.capacity
            - if resource.current_day_bookings.empty?
              .action
                %strong
                  %small No bookings
            - else
              - resource.current_day_bookings.each do |booking|
                .action{style: "background-color: #{'red'}"}
                  %small
                    %strong Grupp:
                    = booking.client
                    %span
                      %Strong Start:
                    = booking.time_start.to_time.to_formatted_s(:time)
                    %span
                      %strong Slut:
                    = booking.time_end.to_time.to_formatted_s(:time)


:javascript
  $(document).ready(function() {
    addRows(10);

    $(".action").click(function() {
      var resource, slot;
      resource = $(this).parent('.content').find('.accordion-title').text()
      slot = $(this).text()
      console.log([resource, slot].join(' - '));
      alert([resource, slot].join(' - '));
    });
  });

  function addRows(count) {
    for (i = 0; i < count; i++) {
      $(".card .content").append('<div class="action" id="action_' + i + '">Slot '  + (i+1) +'</div>');
    }
  }
