
/ Modal Structure
#slot-modal.modal.modal-fixed-footer
  = form_tag (create_booking_path), id: 'booking-form' do
    = hidden_field_tag 'booking[resource_id]'
    = hidden_field_tag 'booking[booking_date]'
    .modal-content#model-content
      .row
        .col.s12
          %h4#headline
            = t('dashboard.reservation')
      .row
        #slot
        .input-field.col.s12
          = label_tag 'booking[client]' do
            %span= t('dashboard.client')
            %span (
            %span#row-display 40 characters maximum
            %span )
          = text_field_tag 'booking[client]', nil, required: true, maxlength: 40, onkeyup: 'countChar(this, 40, "#row-display")'
      .row#time-settings
        .input-field.col.s6
          = label_tag 'booking[time_start]', t('dashboard.time_start')
          %br
          = text_field_tag 'booking[time_start]', nil, class: 'timepicker', type: 'time'
        .input-field.col.s6
          = label_tag 'booking[time_end]', t('dashboard.time_end')
          %br
          = text_field_tag 'booking[time_end]', nil, class: 'timepicker', type: 'time'


    .modal-footer
      = submit_tag t('dashboard.submit'), class: 'modal-action modal-close waves-effect waves-green btn-flat', id: 'update'
      = link_to t('dashboard.delete'), delete_booking_path(booking:{resource_id: ''}),
       method: :delete,
       class: 'modal-action modal-close waves-effect waves-green btn-flat',
       id: 'delete',
       data: {confirm: t('dashboard.confirm')}


#error-modal.modal.modal-fixed-footer
  #model-content
    %h3
      = t('dashboard.unavailable')
    %p
      = t('dashboard.error')
