.send_note
  - unless current_user.nil? || current_user.facility.nil? || current_user.superadmin?
    .facility_code{id: "#{current_user.facility.code}"}
    %p
      = t('dashboard.note')
      %span (
      %span
        = t('dashboard.max_length')
        %span#char-display
      )
    = form_tag note_path, id: 'send_note', method: :post, remote: true do
      = text_field_tag 'note', nil, placeholder: t('dashboard.your_message'), maxlength: 160, onkeyup: 'countChar(this, 160,  "#char-display")'
      = submit_tag t('buttons.send'), id: 'start_button', class: 'waves-effect waves-light btn'
    .note_flash
