%h3
  = t('dashboard.title')
%div{style: 'font-size: 25px', class: 'noselect'}
  %span.fi-previous#previous{style: 'display: inline'}
  %span#date
  %span.fi-next#next
= render partial: 'dashboard/cards'
= render partial: 'dashboard/modal'

%script
  - if Settings.mode == :daily_view
    = render partial: 'dashboard/dashboard_daily.js.erb'
  - elsif Settings.mode == :weekly_view
    = render partial: 'dashboard/dashboard_weekly.js.erb'
