%h4
  = t('dashboard.title')
%div{style: 'font-size: 22px', class: 'noselect'}
  %span#previous &#10094;
  %span#date
  %apan#next &#10095;
.row
  .col.s12
    = render partial: 'dashboard/cards'
= render partial: 'dashboard/modal'
= render partial: 'dashboard/note_form'

- content_for :javascript do
  = javascript_include_tag 'dashboard'

%script
  - if Settings.mode == :daily_view
    = render partial: 'dashboard/dashboard_daily.js.erb'
  - elsif Settings.mode == :weekly_view
    = render partial: 'dashboard/dashboard_weekly.js.erb'
