%h2= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .field
    = f.label :email, t('devise.helpers.label.email')
    %br/
    = f.email_field :email, autofocus: true
  .field
    = f.label :password, t('devise.helpers.label.password')
    %br/
    = f.password_field :password, autocomplete: 'off'
  .field
    = f.label :password_confirmation, t('devise.helpers.label.password_confirmation')
    %br/
    = f.password_field :password_confirmation, autocomplete: 'off'
  .actions
    = f.submit t('.sign_up') , class: 'waves-effect waves-light btn'
= render 'devise/shared/links'
