- if controller_name != 'sessions'
  .row
    .col.s12
      %p
        = t('custom_devise.already_member')
        %span
          = link_to t('.sign_in'), new_session_path(resource_name), style: 'display: inline;'
- if devise_mapping.registerable? && controller_name != 'registrations'
  .row
    .col.s12
      %p
        = t('custom_devise.not_a_member')
        %span
          = link_to t('.sign_up'), new_registration_path(resource_name), style: 'display: inline;'
- if devise_mapping.recoverable? && controller_name != 'passwords'
  .row
    .col.s12
      %p
        = t('.forgot_your_password')
        %span
          = link_to t('custom_devise.request_new_password'), new_password_path(resource_name), style: 'display: inline;'
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  .row
    .col.s12
      = link_to t('.didn_t_receive_confirmation_instructions'), new_confirmation_path(resource_name)
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  .row
    .col.s12
      = link_to t('.didn_t_receive_unlock_instructions'), new_unlock_path(resource_name)
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    .row
      .col.s12
        = link_to t('.sign_in_with_provider', provider: provider.to_s.titleize), omniauth_authorize_path(resource_name, provider)
