%h3 Facilities

%table.hover.stack
  %thead
    %th{width: '120'} Facility
    %th{width: '50'}
    %th{width: '200'} Resources
    %th{width: '230'} Users
  %tbody
  - @facilities.each do |facility|
    %tr{id: "facility_#{facility.id}"}
      %td
        %strong
          = link_to facility.name, facility_path(facility, locale: locale)
      %td
        Code:
        = facility.code
      %td
        - if facility.resources
          - facility.resources.each do |resource|
            = [resource.designation, '<br>'].join('').html_safe
      %td
        - if facility.users
          - facility.users.each do |user|
            = [user.email, '<br>'].join('').html_safe
        - if unassigned_users_select_options.any?
          = render partial: 'assign_user_form', locals: {facility: facility}