%h3 Facilities

%table.hover.stack
  %thead
    %th{width: '150'} Facility
    %th{width: '50'}
    %th{width: '200'} Resources
    %th{width: '200'} Users
  %tbody
  - @facilities.each do |facility|
    %tr{id: "facility_#{facility.id}"}
      %td
        %strong= facility.name
      %td
        Code:
        = facility.code
      %td
        - if facility.resources
          - facility.resources.each do |resource|
            = resource.designation
          - if unassigned_users_select_options.any?
            = render partial: 'assign_user_form', locals: {facility: facility}
      %td
        - if facility.users
          - facility.users.each do |user|
            = user.email
            %br