%h3 New Facility
= form_for @facility, class: '' do |f|
  .row
    .col.m6.l6.s12.input-field
      = f.label :name
      = f.text_field :name
  .row
    .col.m6.l6.s12.input-field
      = f.label :address
      = f.text_field :address
  .row
    .col.m6.l6.s12.input-field
      = f.label :post_code
      = f.text_field :post_code
  .row
    .col.m6.l6.s12.input-field
      = f.label :city
      = f.text_field :city
  .row
    .col.m6.l6.s12
      .file-field.input-field.gallery_picture
        .btn
          %span Select image
          = f.file_field :attachment, id: 'attachment'
        .file-path-wrapper
          %input.file-path.validate{type: 'text'}
      = f.submit 'Create Facility', class: 'waves-effect waves-light btn-large'
    .col.m6.l6.s12
      #target

:javascript
  $(function() {
    $('#attachment').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.readAsDataURL(image);
      reader.onload = function(file) {
        var img = new Image();
        img.src = file.target.result;
        img.style.width = '100%';
        $('#target').html(img);
      }

    });
  });
