%h3 New Facility
= form_for @facility, class: '' do |f|
  .row
    .large-12.columns
      = f.label :name
      = f.text_field :name
    .large-12.columns
      = f.label :address
      = f.text_field :address
    .large-12.columns
      = f.label :post_code
      = f.text_field :post_code
    .large-12.columns
      = f.label :city
      = f.text_field :city
    .large-12.columns
  = f.submit 'Create Facility', class: 'button'