%h2.headline
  = t('pages.title')
%p
  = t('pages.info')
  = link_to 'Craft Academy', '//craftacademy.se'
%p
  = t('pages.read_more')
  = link_to 'Introducing Craft Academy Labs', '//blog.craftacademy.se/introducing-craft-academy-labs/'
