.parallax-container
  .parallax.tint
    = video_tag('empty_office.mp4', id: 'my-video', autoplay: '', loop: '')
  .section
    .container.boxed
      %h1.header.center.white-text.text-lighten-2
        = Settings.app_name
      .row.center
        %h5.header.col.s12.white-text.text-lighten-2
          = t('landing.main_pintch')
      .row.center
        = link_to t('landing.get_started'), dashboard_path, class: 'btn-large waves-effect waves-light teal lighten-1'
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons flash_on
          %h5.center
            = t('landing.header_1')
          %p.light
            = t('landing.pitch_1')
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons group
          %h5.center
            = t('landing.header_2')
          %p.light
            = t('landing.pitch_2')
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons settings
          %h5.center
            = t('landing.header_3')
          %p.light
            = t('landing.pitch_3')
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center.boxed
        %h5.header.col.s12.white-text
          = t('landing.secondary_pitch_1')
  .parallax
    = image_tag 'agenda.jpg'
.container
  .section
    .row
      .col.s12.center
        %h3
          %i.mdi-content-send.brown-text
        %h4
          = t('landing.pricing')
        = render 'layouts/pricing'
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center.boxed
        %h5.header.col.s12.white-text
          = t('landing.secondary_pitch_2')
  .parallax
    = image_tag 'architecture.jpg'

:javascript
  var video = document.getElementById("my-video")
  video.width=document.body.offsetWidth;
  video.playbackRate = 0.7;
