.parallax-container
  .parallax.tint
    = video_tag('empty_office.mp4', id: 'my-video', autoplay: '', loop: '')
  .section
    .container.boxed
      %h1.header.center.white-text.text-lighten-2 Bookingz
      .row.center
        %h5.header.col.s12.white-text.text-lighten-2 An out of the box solution for managing meeting rooms. We offer extensive support on configuration to meet your space's requirements.
      .row.center
        = link_to 'Get Started', dashboard_path, class: 'btn-large waves-effect waves-light teal lighten-1'
.container
  .section
    / Icon Section
    .row
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons flash_on
          %h5.center Easy to setup
          %p.light
            Bookingz is an out of the box solution for managing meeting rooms. We offer extensive support on configuration to make sure Bookingz is tailored to your space's requirements.
            Switching from your current calendar system is smooth and easy as we provide full two-way Google Calendar integration and .ics file export support.
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons group
          %h5.center Easy to use
          %p.light
            Bookingz is cloud-based so it's accessible from anywhere, anytime. It's so easy to use it doesn't require any training for the end user whatsoever. Either go to your Bookingz site and make a booking in few click or book the room through your Google Resource Calendar.
            Try it yourself today,
      .col.s12.m4
        .icon-block
          %h2.center.brown-text
            %i.material-icons settings
          %h5.center On any device
          %p.light
            Booking made easy! Bookingz works in any web browser, so your users can access it from all their devices.
            Whether on the go or setting at their desk, availability is quickly accessible at-a-glance.
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center.boxed
        %h5.header.col.s12.white-text The easiest room reservation system
  .parallax.tint
    = image_tag 'agenda.jpg'
.container
  .section
    .row
      .col.s12.center
        %h3
          %i.mdi-content-send.brown-text
        %h4 Pricing
        = render 'layouts/pricing'
.parallax-container.valign-wrapper
  .section.no-pad-bot
    .container
      .row.center.boxed
        %h5.header.col.s12.white-text As a modern SaaS application - Bookingz works in any web browser
  .parallax
    = image_tag 'architecture.jpg'

:javascript
  var video = document.getElementById("my-video")
  video.width=document.body.offsetWidth;
  video.playbackRate = 0.7;
