%footer.footer
  .row
    .small-12.columns
      %p.slogan
        = application_name
      %p.links
        = link_to t('footer.home'), '#'
        - if current_user
          = link_to t('footer.instructions'), page_path('instructions')
          = link_to 'CA Labs', page_path('ca_labs')
      %p.copywrite
        = copyright_message
