.top-bar
  .top-bar-title
    %span{data: {hide: {for: 'medium'}, responsive: {toggle:  'responsive-menu'}}}
      %button.menu-icon.dark{data: {toggle: ''}, type: 'button'}
      %strong
        = application_name
  #responsive-menu
    .top-bar-left
      %ul.menu
        %li
          = image_tag 'komboxrum_small.png', style: 'height: 40px; width: auto;'
        - if current_user
          %li
            = link_to t('header.home'), root_path
          %li
            = link_to t('footer.instructions'), page_path(id: 'instructions')
          %li
            = link_to t('header.users'), approvals_users_path
        - if current_user.superadmin
          %li
            = link_to 'Add Facility', new_facility_path
    .top-bar-right
      %ul.menu
        %li
          = link_to t('header.swedish'), locale: 'sv'
        %li
          = link_to t('header.english'), locale: 'en'
