!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: 'Content-Type'}}/
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Bookingz
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body
    :javascript

      $(document).ready(function() {
         $('.timepicker').pickatime({
          default: 'now', // Set default time
          fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
          twelvehour: false, // Use AM/PM or 24-hour format
          donetext: 'OK', // text for done-button
          cleartext: 'Clear', // text for clear-button
          canceltext: 'Cancel', // Text for cancel-button
          autoclose: false, // automatic close timepicker
          ampmclickable: true, // make AM PM clickable
          aftershow: function(){} //Function for after opening timepicker
        });
        $('select').material_select();
        $('.parallax').parallax();
      });
    = render 'layouts/header'
    %main
      .container
        .section
          = render 'layouts/flash_messages'
          = yield
      = yield :javascript
    = render 'layouts/footer'
